.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
  height: 10vmin;
  animation: App-logo-spin infinite 20s linear;
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
  background-color: white;
}
